/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  @include css-gradient(#1b1464,#3473b9);
  background-repeat: no-repeat;
}
#content {
  margin-top: 0;
}
#inner-content {
  background: #eee;
  box-shadow: 0px 20px 20px 0px #000;
  padding: 2.2em 4.4em 0;
}

/*********************
HEADER SYTLES
*********************/

.header {
  position: relative;
}

/*********************
FOOTER STYLES
*********************/

.footer {
  background: none;
}
.pre-footer {
  background: none;
  border-top: none;
  text-align: right;
  .wrap {
    background: $white;
    border-top: 1px solid #ccc;
    box-shadow: 0px 20px 20px 0px #000;
    padding: 0 5.5em;
  }
}
.main-footer {
  @include css-gradient(#818181,#353535);
  box-shadow: 0px 20px 20px 0px #000;
  padding: 0 5.5em;
  text-align: left;
}